In [1]:
import pandas as pd

In [2]:
players_merged_by_name_df=pd.read_csv('../raw_data/players_merged_by_name_data')
players_merged_by_fifaid_df=pd.read_csv('../raw_data/player_merged_by_fifaid.csv')

In [3]:
players_merged_by_name_df.drop('first_name', axis=1, inplace=True)
players_merged_by_name_df.drop('last_name', axis=1, inplace=True)
players_merged_by_name_df.drop('age_y', axis=1, inplace=True)

In [4]:
players_merged_by_fifaid_df.drop('age_y', axis=1, inplace=True)
players_merged_by_fifaid_df.drop(columns=["Unnamed: 0.1"], inplace=True)

In [5]:
players_merged_by_name_df.head()

,Unnamed: 0,club_name,player_name,age_x,position,club_involved_name,fee,transfer_movement,transfer_period,fee_cleaned,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,0,Paris Saint-Germain,layvin kurzawa,22.0,Left-Back,Monaco,£22.50m,in,Summer,22.50,...,77+0,74+0,74+0,74+0,77+0,76+0,74+0,74+0,74+0,76+0
1,1,Paris Saint-Germain,serge aurier,22.0,Right-Back,Toulouse,£9.00m,in,Summer,9.00,...,77+0,76+0,76+0,76+0,77+0,77+0,77+0,77+0,77+0,77+0
2,2,Paris Saint-Germain,kevin trapp,25.0,Goalkeeper,E. Frankfurt,£8.55m,in,Summer,8.55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Paris Saint-Germain,benjamin stambouli,24.0,Centre-Back,Spurs,£7.74m,in,Summer,7.74,...,72+0,76+0,76+0,76+0,72+0,72+0,74+0,74+0,74+0,72+0
4,4,Olympique Lyon,sergi darder,21.0,Central Midfield,Málaga CF,£11.79m,in,Summer,11.79,...,68+0,71+0,71+0,71+0,68+0,66+0,66+0,66+0,66+0,66+0

In [6]:
players_merged_by_fifaid_df.head()

,Unnamed: 0,club_name,player_name,age_x,position,club_involved_name,fee,transfer_movement,transfer_period,fee_cleaned,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,0,Paris Saint-Germain,angel di maria,27.0,Right Winger,Man Utd,£56.70m,in,Summer,56.70,...,75+2,73+2,73+2,73+2,75+2,70+2,64+2,64+2,64+2,70+2
1,1,Olympique Lyon,sergi darder,21.0,Central Midfield,Málaga CF,£11.79m,in,Summer,11.79,...,68+0,71+0,71+0,71+0,68+0,66+0,66+0,66+0,66+0,66+0
2,2,RCD Espanyol Barcelona,sergi darder,23.0,Central Midfield,Olympique Lyon,Loan fee:£270Th.,in,Summer,0.27,...,71+1,75+1,75+1,75+1,71+1,70+1,69+1,69+1,69+1,70+1
3,3,RCD Espanyol Barcelona,sergi darder,24.0,Central Midfield,Olympique Lyon,£7.20m,in,Summer,7.20,...,69+1,73+1,73+1,73+1,69+1,68+1,67+1,67+1,67+1,68+1
4,4,Olympique Lyon,rafael,25.0,Right-Back,Man Utd,£2.88m,in,Summer,2.88,...,58+0,54+0,54+0,54+0,58+0,52+0,43+0,43+0,43+0,52+0

In [7]:
concat_df = pd.concat([players_merged_by_fifaid_df,players_merged_by_name_df], axis="index", sort=False)

In [8]:
concat_df

,Unnamed: 0,club_name,player_name,age_x,position,club_involved_name,fee,transfer_movement,transfer_period,fee_cleaned,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,0,Paris Saint-Germain,angel di maria,27.0,Right Winger,Man Utd,£56.70m,in,Summer,56.70,...,75+2,73+2,73+2,73+2,75+2,70+2,64+2,64+2,64+2,70+2
1,1,Olympique Lyon,sergi darder,21.0,Central Midfield,Málaga CF,£11.79m,in,Summer,11.79,...,68+0,71+0,71+0,71+0,68+0,66+0,66+0,66+0,66+0,66+0
2,2,RCD Espanyol Barcelona,sergi darder,23.0,Central Midfield,Olympique Lyon,Loan fee:£270Th.,in,Summer,0.27,...,71+1,75+1,75+1,75+1,71+1,70+1,69+1,69+1,69+1,70+1
3,3,RCD Espanyol Barcelona,sergi darder,24.0,Central Midfield,Olympique Lyon,£7.20m,in,Summer,7.20,...,69+1,73+1,73+1,73+1,69+1,68+1,67+1,67+1,67+1,68+1
4,4,Olympique Lyon,rafael,25.0,Right-Back,Man Utd,£2.88m,in,Summer,2.88,...,58+0,54+0,54+0,54+0,58+0,52+0,43+0,43+0,43+0,52+0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3407,3407,Atlético Madrid,moussa dembele,24.0,Centre-Forward,Olympique Lyon,Loan fee:£1.35m,in,Winter,1.35,...,52+2,51+2,51+2,51+2,52+2,49+2,48+2,48+2,48+2,49+2
3408,3408,Villarreal CF,etienne capoue,32.0,Defensive Midfield,Watford,£1.80m,in,Winter,1.80,...,75+2,78+2,78+2,78+2,75+2,74+2,77+2,77+2,77+2,74+2
3409,3409,Real Sociedad,carlos fernandez,24.0,Centre-Forward,Sevilla FC,£9.00m,in,Winter,9.00,...,48+2,49+2,49+2,49+2,48+2,45+2,44+2,44+2,44+2,45+2
3410,3410,Real Valladolid CF,lucas olaza,26.0,Left-Back,Boca Juniors,Loan fee:£450Th.,in,Winter,0.45,...,74+2,71+2,71+2,71+2,74+2,73+2,70+2,70+2,70+2,73+2
3411,3411,Celta de Vigo,augusto solari,29.0,Right Winger,Racing Club,£450Th.,in,Winter,0.45,...,69+2,66+2,66+2,66+2,69+2,68+2,63+2,63+2,63+2,68+2

In [9]:
concat_df = concat_df.drop_duplicates(keep="first")

In [10]:
concat_df

,Unnamed: 0,club_name,player_name,age_x,position,club_involved_name,fee,transfer_movement,transfer_period,fee_cleaned,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,0,Paris Saint-Germain,angel di maria,27.0,Right Winger,Man Utd,£56.70m,in,Summer,56.70,...,75+2,73+2,73+2,73+2,75+2,70+2,64+2,64+2,64+2,70+2
1,1,Olympique Lyon,sergi darder,21.0,Central Midfield,Málaga CF,£11.79m,in,Summer,11.79,...,68+0,71+0,71+0,71+0,68+0,66+0,66+0,66+0,66+0,66+0
2,2,RCD Espanyol Barcelona,sergi darder,23.0,Central Midfield,Olympique Lyon,Loan fee:£270Th.,in,Summer,0.27,...,71+1,75+1,75+1,75+1,71+1,70+1,69+1,69+1,69+1,70+1
3,3,RCD Espanyol Barcelona,sergi darder,24.0,Central Midfield,Olympique Lyon,£7.20m,in,Summer,7.20,...,69+1,73+1,73+1,73+1,69+1,68+1,67+1,67+1,67+1,68+1
4,4,Olympique Lyon,rafael,25.0,Right-Back,Man Utd,£2.88m,in,Summer,2.88,...,58+0,54+0,54+0,54+0,58+0,52+0,43+0,43+0,43+0,52+0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3407,3407,Atlético Madrid,moussa dembele,24.0,Centre-Forward,Olympique Lyon,Loan fee:£1.35m,in,Winter,1.35,...,52+2,51+2,51+2,51+2,52+2,49+2,48+2,48+2,48+2,49+2
3408,3408,Villarreal CF,etienne capoue,32.0,Defensive Midfield,Watford,£1.80m,in,Winter,1.80,...,75+2,78+2,78+2,78+2,75+2,74+2,77+2,77+2,77+2,74+2
3409,3409,Real Sociedad,carlos fernandez,24.0,Centre-Forward,Sevilla FC,£9.00m,in,Winter,9.00,...,48+2,49+2,49+2,49+2,48+2,45+2,44+2,44+2,44+2,45+2
3410,3410,Real Valladolid CF,lucas olaza,26.0,Left-Back,Boca Juniors,Loan fee:£450Th.,in,Winter,0.45,...,74+2,71+2,71+2,71+2,74+2,73+2,70+2,70+2,70+2,73+2
3411,3411,Celta de Vigo,augusto solari,29.0,Right Winger,Racing Club,£450Th.,in,Winter,0.45,...,69+2,66+2,66+2,66+2,69+2,68+2,63+2,63+2,63+2,68+2

In [11]:
concat_df.player_name.nunique()

2678

In [13]:
concat_df.to_csv("../raw_data/final_dataframe")